* {
	padding: 0px;
	margin: 0;
}

header {
	padding: 50px;
	text-align: center;

}

a:link {
	color: black;
}

a:hover {
	color: lightgray;
}

.w1,
.w2,
.w3,
.w4,
.w5,
.w6,
.w7,
.w8,
.w9,
.w10 {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 300px;
	height: auto;
	margin: 10px;
	padding: 40px;
}

.up {
	position: fixed;
	bottom: 0;
	right: 0;
	padding: 10px;
	width: 80px;
	background-color: lightgray;
	border-radius: 30px;
}

p {
	line-height:25px;
	letter-spacing: 1.5px;
	word-break: keep-all;
}

article {
	padding: 30px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

footer {
	background-color: lightgray;
	width: 100vw;
	text-align: center;
}

a {
	text-decoration-line: none;
	color: black;
}

.a1 {
	display: flex;
	align-items: center;
	position: absolute;
	top: 185px;
	left: 100px;
	box-shadow: 4px 4px 10px 3px lightgray;
	width: 60px;
	height: 20px;
	border-radius: 50px;
	list-style: none;
	padding: 10px;
}



@media screen and (max-width: 900px) {


	h1 {
		font-size: 1.3vw;
		height: 6vh;
		padding: 0;
		text-align: center;


	}

	body {
		background-color: lightgray;
	}

.a1 {
	display: flex;
	align-items: center;
	position: absolute;
	top: 120px;
	left: 100px;
	box-shadow: 4px 4px 10px 3px white;
	width: 60px;
	height: 30px;
	border-radius: 50px;
	list-style: none;
	padding: 10px;
	}

footer {
	background-color: white;
	width: 100vw;
	text-align: center;
}

.q1,
.q2,
.q3,
.q4,
.q5 {
	display: none;
}

.w1,
.w2,
.w3,
.w4,
.w5,
.w6,
.w7,
.w8,
.w9,
.w10 {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 300px;
	height: auto;
	margin: 10px;
	padding: 90px;
	text-align: center; 
}

.up {
	position: fixed;
	bottom: 0;
	right: 0;
	padding: 10px;
	width: 80px;
	background-color: white;
}

} 